
div.article {
    margin-left: 1em;
    padding: 1em;
    overflow: auto;
    text-align: left;
    background-color: #e0ecff;
    width: 95%;
    float: right;
    clear: right;
    border: 1px solid gray;
}

div.header {
    border-right: 1px solid gray;
    padding: 1em;
    color: black;
    background-color: white;
    text-align: left;
    height: 100%;
    width: 100%;
    float: left;
    clear: left;
    overflow: auto;
}

div.cover {
    border-right: 1px solid gray;
    padding: 1em;
    color: black;
    background-color: white;
    text-align: left;
    height: 100%;
    width: 30%;
    float: left;
    overflow: auto;
}

div.footer {
    /*width: 50%;*/
    float: left;
    clear: both;
    position: fixed;
    background-color: #333;
    overflow: hidden;
}

div.articleHead{
    background-color: #e8f0ff;    
    border-bottom: 1px solid gray;
    margin-bottom: 0px;
    overflow:hidden;
}

div.container {
    /*border: 1px solid gray;*/
    height: 100%;
    width: 100%;
    overflow: hidden;
}

div.leftside {
    height: 100%;
    width: 30%;
    float: left;
    position: fixed;
}

div.rightside {
    height: 100%;
    width: 65%;
    float: right;
    background-color: #efefef;
}

div.leftArticle {
    height: 100%;
    width: 45%;
    float: left;
}

div.rightArticle {
    height: 100%;
    width: 45%;
    float: right;
}

div.conferencePubs {
    /*height: 100%;*/
    width: 100%;/*45%*/
    float: left;
}

div.journalPubs {
    /*height: 100%;*/
    width: 100%;
    float: right;
}

div.otherPubs {
    /*height: 100%;*/
    width: 100%;
}

div.column {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    text-align:justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

div.links {
    background-color: #e8ffff;
    margin: 3px;
    padding: 3px;
    display: inline-block;
}
div.links a {
    background-color: #e0ecff;
    display: inline-block;
}
