<div class="navigator">
	<a href="javascript:void(0)" onclick='loadArticle("middle", "pages/abstract.html")'>Abstract</a>
	<a href="javascript:void(0)" onclick='loadCareer("middle", "pages/career.html")'>Career</a>
	<a href="javascript:void(0)" onclick='loadArticle("middle", "courses/index.html")'>Publications</a>
	<!-- <a href="javascript:void(0)" onclick='loadArticle("middle", "pages/research.html")'>Research</a> -->
	<a href="javascript:void(0)" onclick='loadPublications("middle", "pages/publications.html")'>Publications</a>
	<a href="javascript:void(0)" onclick='loadInformation("middle", "pages/links.html")'>Information</a>
	<a href="javascript:void(0)" onclick='loadIdeas("middle", "pages/ideas.html")'>Ideas</a>
</div>
