<div>
<font size="6">Soumadip Biswas, PhD</font>
	<div class="logo"><img title="IIT kgp" alt="IIT" src="images/logo/iit_kgp.png"/></div>
</div>
<div class="title">
	<hr width="100%" align=left color=red>
	<p title="Designation">
		<font size="4">
			Associate Professor, <a href="https://sites.google.com/view/iem-cseiot/home?pli=1" target="_blank">Dept. of CSE (IoT)</a>, <a href="https://iem.edu.in/" targert="_blank">IEM</a> <br />
			<a href="resources/Documents/Resume/Soumadip_Biswas_Resume.pdf">CV</a> <br /><br />
		</font>
	</p> 
	<br />
	<p title="Research Details">
		<font size="4">
			Reseach Interests: Computer Networks, Algorithms, Distributed Systems <br />
			PhD Thesis Title: Algorithms for Handover Management in Dense LTE Networks under Vehicular Mobility <br />
			Supervisors: Dr. Arobinda Gupta and Dr. Sandip Chakraborty <br />
			Dept: <a href="http://cse.iitkgp.ac.in/" target="_blank"> Dept. of Computer Science and Engineering</a><br />
			Institute: <a href="http://www.iitkgp.ac.in/" target="_blank">Indian Institute of Technology Kharagpur</a> <br />
		</font>
	</p> 
	<p title="Contact Information">	
	Kolkata, India.
	Email: soumadip[DOT]b[AT]iitkgp[DOT]ac[DOT]in <br/>
	Email: soumadip[DOT]biswas[AT]iem[DOT]edu[DOT]in <br />
	</p>
	<!--<p title="Affiliation">	
		<br />
	</p>-->
	<hr width="100%" align=left color=black>
</div>


<div class="title">
	<hr width="100%" align=left color=black>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<a href="https://orcid.org/0000-0002-6838-7657" class="fa fa-info" target="_blank"></a>
	<a href="https://scholar.google.co.in/citations?user=RQLNn8UAAAAJ" class="fa fa-mortar-board" target="_blank"></a>
	<a href="https://dblp.uni-trier.de/pers/hd/b/Biswas:Soumadip" class="fa fa-flash" target="_blank"></a>
	<a href="https://github.com/soumadip" class="fa fa-github" target="_blank"></a>
	<a href="https://bitbucket.org/soumadip/" class="fa fa-bitbucket" target="_blank"></a>
	<a href="https://www.linkedin.com/in/soumadipbiswas/" class="fa fa-linkedin" target="_blank"></a>
	<a href="https://twitter.com/soumadipb" class="fa fa-twitter" target="_blank"></a>
	<a href="skype:soumadip.biswas?chat" class="fa fa-skype" target="_blank"></a>
	<a href="https://www.youtube.com/user/bsoumadip/" class="fa fa-youtube-play" target="_blank"></a>
	<a href="https://www.instagram.com/soumadipb/" class="fa fa-instagram" target="_blank"></a>
	<a href="http://fb.com/soumadip.cse" class="fa fa-facebook" target="_blank"></a>
	<hr width="100%" align=left color=black>
</div>

<div class="selfie">
	<a href="#">
		<img title="SB" alt="SB" src="images/self3.jpg"/>
	</a>
</div>

