<div>
<font size="6">Soumadip Biswas</font>
	<div class="logo"><img title="IIT kgp" alt="IIT" src="images/logo/iit_kgp.png"/></div>
</div>
<div class="title">
	<hr width="100%" align=left color=red>
	<p title="Designation">
	<font size="4">PhD Research Scholar, (July 2014 - Present)</font>
	</p> 
        <a href="resources/Documents/Resume/Resume_Soumadip_PhD.pdf">CV</a> 
	<br />
	<p title="Affiliation">	
		<a href="http://cse.iitkgp.ac.in/" target="_blank">
			Department of Computer Science and Engineering
		</a> 
		<br />
		<a href="http://www.iitkgp.ac.in/" target="_blank">
			Indian Institute of Technology Kharagpur
		</a> 
		<br />
		Kharagpur 721302, India. <br />
		Email: soumadip.b [AT] iitkgp.ac.in
	</p>
	<hr width="100%" align=left color=black>
</div>


<div class="title">
	<hr width="100%" align=left color=black>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<a href="https://orcid.org/0000-0002-6838-7657" class="fa fa-info" target="_blank"></a>
	<a href="https://scholar.google.co.in/citations?user=RQLNn8UAAAAJ" class="fa fa-mortar-board" target="_blank"></a>
	<a href="https://dblp.uni-trier.de/pers/hd/b/Biswas:Soumadip" class="fa fa-flash" target="_blank"></a>
	<a href="https://github.com/soumadip" class="fa fa-github" target="_blank"></a>
	<a href="https://bitbucket.org/soumadip/" class="fa fa-bitbucket" target="_blank"></a>
	<a href="https://www.linkedin.com/in/soumadipbiswas/" class="fa fa-linkedin" target="_blank"></a>
	<a href="https://twitter.com/soumadipb" class="fa fa-twitter" target="_blank"></a>
	<a href="skype:soumadip.biswas?chat" class="fa fa-skype" target="_blank"></a>
	<a href="https://www.youtube.com/user/bsoumadip/" class="fa fa-youtube-play" target="_blank"></a>
	<a href="https://www.instagram.com/soumadipb/" class="fa fa-instagram" target="_blank"></a>
	<a href="http://fb.com/soumadip.cse" class="fa fa-facebook" target="_blank"></a>
	<hr width="100%" align=left color=black>
</div>

<div class="selfie">
	<a href="#">
		<img title="SB" alt="SB" src="images/self3.jpg"/>
	</a>
</div>

